{% extends 'base/base.html' %}
{% load static %}

{% block body_content %}


<!-- {% if validlink %}
    <h3>Change password</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
{% else %}
    <h1 class="text-white">Password reset unsuccessful</h1>
    <p class="text-white">
        The password reset link was invalid, possibly because it has already been used. 
        Please request a new password reset.
    </p>
{% endif %} -->

<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-80" style="margin-top: 0;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                {% if validlink %}
                    <h3>Change password</h3>
                    {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                            {% for key, value in form.errors.items %}
                              <strong>{{ value }}</strong>
                            {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    {% endif %}
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="form-row">
                          <label class="small mb-1" for="id_new_password1">New Password</label>
                          <input type="password" name="new_password1" autocomplete="new-password"
                                class="form-control" required id="id_new_password1"
                                placeholder="Enter password"/>
                        </div>
                        <span>
                        </span>
                        <div class="form-row">                              
                          <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                          <input type="password" name="new_password2" autocomplete="new-password"
                            required id="id_new_password2" class="form-control"
                            placeholder="Confirm password"/>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-10 offset-md-1">
                          <div class="form-group mt-0 mb-1">
                              <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>
                          </div>
                      </div>
                    </div>
                  </form>
                  {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    
                {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    // console.log(window.location.pathname.match('accounts/password-reset-confirm/')[0]);
    if(window.location.pathname.match('/accounts/password-reset-confirm/')[0]){
      document.querySelector('.navbar').classList.remove('nav-color-teal')
      document.querySelector('.navbar').classList.add('nav-color-black')
    }

    if (document.querySelector('.alert')){
    const close = document.querySelector('.close')
    const alert = document.querySelector('.alert')
    close.addEventListener('click', function(){
      alert.style.display = 'None'
    })}
  </script>
{% endblock %}