{% extends 'base/base.html' %}
{% load static %}

{% block body_content %}

<!-- <h1 class="text-white">Password reset sent</h1>

<p class="text-white">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p class="text-white">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p> -->


<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-80" style="margin-top: 0;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <h1>Password reset sent</h1>

                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}